.env*
.venv
__pycache__/
*.pyc
*.DS_Store
build/

layers/shared/python/*
!layers/shared/python/config.py
!layers/shared/python/database.py
!layers/shared/python/helpers.py

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# Zip files
*.zip